body {
  margin: 0;
  background: black;
  font-family: Georgia, serif;
  color: gold;
  overflow: hidden;
}

/* CENTER LOGIN */
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: rgba(0,0,0,0.9);
  padding: 40px;
  border: 2px solid gold;
  box-shadow: 0 0 30px gold;
  text-align: center;
}

input {
  padding: 10px;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background: gold;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* SLIDESHOW */
.slideshow {
  position: fixed;
  inset: 0;
}

.slide {
  position: absolute;
  width: 60%;
  height: 70%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 2s;
  border-radius: 20px;
  box-shadow: 0 0 40px gold;
}

.slide.active {
  opacity: 1;
}

/* LETTER */
.letter {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 26px;
}

/* PETALS */
@keyframes fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
  }
}
