body{
  margin:0;
  background:black;
  font-family:Georgia,serif;
  overflow:hidden;
}

/* LOGIN */
.center{
  position:fixed;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1000;
}

.box{
  background:rgba(0,0,0,0.95);
  padding:40px;
  border:2px solid gold;
  box-shadow:0 0 40px gold;
  text-align:center;
  color:white;
}

input{
  padding:10px;
  margin-top:10px;
}

button{
  padding:10px 20px;
  margin-top:10px;
  background:gold;
  border:none;
  cursor:pointer;
  font-weight:bold;
}

/* MAIN AREA */
#main{
  display:none;
  position:fixed;
  inset:0;
}

/* SLIDESHOW */
.slideshow{
  position:absolute;
  inset:0;
  z-index:1; /* Behind message */
}

.slide{
  position:absolute;
  width:60%;
  height:70%;
  object-fit:cover;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  opacity:0;
  transition:opacity 2s ease-in-out;
  border-radius:20px;
  box-shadow:0 0 40px gold;
}

.slide.active{
  opacity:1;
}

/* MESSAGE */
.message-box{
  position:absolute;
  bottom:8%;
  width:100%;
  text-align:center;
  z-index:10; /* Above image */
  pointer-events:none;
}

#messageText{
  color:white;
  font-size:30px;
  font-weight:bold;
  text-shadow:0 0 25px gold;
  animation:fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn{
  from{opacity:0;}
  to{opacity:1;}
}
